<div class="row">
  <div class="col-xl-12 mx-0 px-0">
    <div class="callToAction img-fluid" id="callToAction">
      <div class="col-xl-6 offset-xl-3">
        <h1 class="text-center callToActionText">SHARE YOUR ADVENTURE</h1>
      </div>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-xl-8 offset-xl-2">
    <div class="jumbotron quote-package">
      <h3 class="text-center">
        A picture is worth a thousand words.
        <footer class="blockquote-footer">
          Tony Stark, Parks and Recreations (2019)
        </footer>
      </h3>
    </div>
    <hr class="mt-5">
  </div>
</div>
<div class="row">
  <div class="col-xl-4 offset-xl-4">
    <h3 class="display-3 text-center mb-5">OUR PLANS</h3>
  </div>
  <div class="col-xl-4 offset-xl-2">
    <div class="jumbotron silver-package">
      <h3 class="text-center">Professional<br>Package</h3>
      <p class="text-left my-4 packages ml-3">
        <div class="list-group">
          <div class="list-group-item">
            <%= fa_icon "picture-o", text: "Unlimited Uploads", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "envelope-open", text: "Exclusive Forum Access", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "calendar-check-o", text: "Calendar Access", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "copyright", text: "Copyright Advice", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "podcast", text: "Podcast Access", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item spacer">
          </div>
          <div class="list-group-item spacer">
          </div>
          <div class="list-group-item spacer">
          </div>
        </div>
      </p>
        <%= link_to "Pick Pro", "#", class: "btn btn-outline-primary btn-lg btn-block" %>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="jumbotron gold-package">
      <h3 class="text-center">Studio<br>Package</h3>
      <p class="text-left my-4 packages ml-3">
        <div class="list-group">
          <div class="list-group-item">
            <%= fa_icon "picture-o", text: "Unlimited Uploads", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "envelope-open", text: "Exclusive Forum Access", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "calendar-check-o", text: "Calendar Access", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "copyright", text: "Copyright Advice", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "podcast", text: "Podcast Access", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "area-chart", text: "Analytics", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "lock", text: "Private Albums", class: "fa-lg m-2" %><br>
          </div>
          <div class="list-group-item">
            <%= fa_icon "trophy", text: "Studio Contests", class: "fa-lg m-2" %><br>
          </div>
        </div>
      </p>
      <%= link_to "Pick Studio", "#", class: "btn btn-outline-success btn-lg btn-block" %>
    </div>
  </div>
</div>
