<!DOCTYPE html>
<html>
  <head>
    <title>Stock Tracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "Finance Tracker", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <div class="nav-item active">
            <%= link_to "Stocks", "#", class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%= link_to "Users", "#", class: "nav-link" %>
          </div>
        </div>
        <%= form_for "SearchVariable", html: { class: "form-inline my-2 my-lg-0" } do |f| %>
          <%= f.text_field :search, class: "form-control mr-sm-2", placeholder: "Search" %>
          <%= button_to("Search", {}, { class: "btn btn-outline-info my-2 my-sm-0" }) %>
        <% end %>
        <% if user_signed_in? %>
          <div class="dropdown form-inline">
            <!-- Classes for this link are in SCSS via @extend -->
            <%= link_to("Account", "#", { id: "navbarAccountDropdown", 'data-toggle' => "dropdown" }) %>
            <div class="dropdown-menu">
              <%= link_to "Edit Account", "#", class: "dropdown-item" %>
              <%= link_to "View Profile", "#", class: "dropdown-item" %>
            </div>
          </div> <!-- nav-item dropdown -->
          <!-- Classes for this link are in SCSS via @extend -->
          <%= link_to "Logout", destroy_user_session_path, id: "btnLogout", method: :delete %>
        <% else %>
          <%= content_tag :div, class: "btn-group ml-2" do %>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div class="col-md-4 offset-md-4 my-2" id="alerts">
      <%= alert %>
    </div>
    <%= yield %>
  </body>
</html>
