<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Might need this for responsive design, but it doesn't look like it's working for navbar -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  </head>
  <body>
    <% if current_page?(root_path) %>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-5">
    <% else %>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-5">
    <% end %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'ALPHA BLOG', root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <div class="nav-item active">
            <%= link_to 'HOME', root_path, class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%= link_to 'ARTICLES', articles_path, class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%= link_to 'USERS', users_path, class: "nav-link" %>
          </div>
        </div>
        <% if logged_in? %>
          <div class="dropdown mr-1">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="nav-item">
                <%= link_to 'VIEW', user_path(current_user), class: "dropdown-item" %>
              </div>
              <div class="nav-item">
                <%= link_to 'EDIT', edit_user_path(current_user), class: "dropdown-item" %>
              </div>
            </div>
          </div> <!-- dropdown -->
          <div class="nav-item">
            <%= link_to 'Log Out', logout_path, method: :delete, class: "btn btn-outline-danger" %>
          </div>
        <% else %>
        <div class="nav-item mr-1">
          <%= link_to 'Sign Up', signup_path, class: "btn btn-outline-success" %>
        </div>
        <div class="nav-item">
          <%= link_to 'Log In', login_path, class: "btn btn-outline-primary" %>
        </div>
        <% end %>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "alert alert-#{name} text-sm-center" %>
          <% end %>
        </div> <!-- col-md-4 offset-md-4 -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
    <%= yield %>
    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted text-right">&copy Myles Berueda (MylesWritesCode) 2017</p>
      </div>
    </footer>
  </body>
</html>
