<h1 class="text-center">Public Profile</h1>
<div class="col-md-4 offset-md-4">
  <hr>
  <h2 class="text-center"><%= @user.username %><h2>
  <p class="text-center">
    <%= gravatar_for @user %>
  </p><br>
  <h3 class="text-center">
    <%= @user.username %>'s Articles
  </h3>
  <hr>
  <div class="userArticles" id="userArticles">
    <%= render '/articles/show-articles', obj: @user_articles %>
    <%= will_paginate @user_articles %>
  </div>
</div>
