<div id="stock-lookup" class="my-2">
  <h3 class="text-center my-5">Find Stock</h3>
  <%= form_tag search_stocks_path(params[:stock]), remote: true, id: 'stock-lookup-form',
        class: 'form-group form-inline my-auto', method: :get do %>
    <%= text_field_tag :stock, params[:stock], placeholder: "Stock Ticker Symbol", autofocus: true,
        class: "form-control mr-2 col-md-8" %>
    <%= button_to "Find Stock", {}, class: "btn btn-outline-success" %>
  <% end %>
  <%= render 'common/spinner' %>
  <% if @stock %>
    <div id="stock-lookup-results" class="jumbotron my-2">
      <h3><strong>Symbol:</strong> <%= @stock.ticker %></h3>
      <p><strong>Name:</strong> <%= @stock.name %></p>
      <p><strong>Price:</strong> <%= @stock.price %></p>
    </div>
  <% end %>
  <div id="stock-lookup-error">
  </div>
</div> <!-- stock-lookup my-2 -->
