<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= form_for @article, html: { id: "articleForm" } do |f| %>
        <div class="form-group">
          <div class="form-group" id="formGroupTitle">
            <%= f.label :title, class: "form-control-label", for: "title" %>
            <%= f.text_field :title, class: "form-control form-control-warning", id: "title", maxlength: 50 %>
          </div>
          <div class="form-group" id="formGroupDesc">
            <%= f.label :description, class: "form-control-label", for: "description" %>
            <%= f.text_area :description, class: "form-control form-control-warning article-description",
                id: "description", maxlength: 140 %>
          </div>
          <div class="form-group" id="formGroupBody">
            <%= f.label :body, class: "form-control-label", for: "body" %>
            <%= f.text_area :body, class: "form-control form-control-warning article-body",
                id: "description", maxlength: 1000 %>
          </div>
          <div class="form-group" id="formGroupCategories">
            <h4 class="text-center mb-3">Categories</h4>
            <%= f.collection_select(:category_ids, Category.all, :id, :name, {}, { class: "categorySelect form-control", id: "categorySelect", multiple: true } ) %>
          </div>
          <%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block", id: "btnSubmitArticle" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
