<!DOCTYPE html>
<html>
  <head>
    <title>Photo App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- <nav class="navbar col-sm-2">
        </nav> -->
        <div class="top-nav-menu my-0 fixed-top">
          <nav class="navbar navbar-toggleable-md navbar-light bg-white p-1">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="center-logo">
              <%= link_to "#", class: "navbar-brand" do %>
              PHOTO
              <%= fa_icon "camera-retro" %>
              APP
              <% end %>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="navbar-nav col-md-4 offset-md-2">
                <div class="nav-item active">
                  <%= link_to (fa_icon "home", text: "Home"), "#", class: "nav-link fa-lg" %>
                </div>
                <div class="nav-item">
                  <%= link_to (fa_icon "user-circle", text: "Link"), "#", class: "nav-link fa-lg" %>
                </div>
                <div class="nav-item">
                  <%= link_to (fa_icon "user-circle", text: "Link"), "#", class: "nav-link fa-lg" %>
                </div>
              </div>
              <div class="navbar-nav offset-md-2 ml-auto">
                <% if user_signed_in? %>
                  <%= link_to "Log Out", "#", class: "btn btn-outline-danger my-sm-1 m-1" %>
                <% else %>
                  <%= link_to "Sign Up", "#", class: "btn btn-outline-primary my-sm-1 m-1" %>
                  <%= link_to "Log In", "#", class: "btn btn-outline-primary my-sm-1 m-1" %>
                <% end %>
              </div>
              <div class="navbar-nav col-md-2">
              </div>
            </div>
          </nav>
        </div> <!-- col-md-8 -->
        <nav class="navbar col-sm-2 hidden-xs-up">
        </nav>
      </div> <!-- row -->
    </div> <!-- container-fluid -->
    <div class="col-md-8 offset-2 my-5 px-0">
      <hr>
      <%= yield %>
    </div> <!-- col-md-8 offset-2 -->
  </body>
</html>
