<!DOCTYPE html>
<html>
  <head>
    <title>Photo App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="col-md-8 offset-2">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded bg-white sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav mr-auto">
            <div class="nav-item active">
              <%= link_to (fa_icon "home", text: "Home"), "#", class: "nav-link fa-lg" %>
            </div>
            <div class="nav-item">
              <%= link_to (fa_icon "user-circle", text: "Link"), "#", class: "nav-link fa-lg" %>
            </div>
          </div>
          <div class="mr-auto py-0">
            <%= link_to "#", class: "navbar-brand" do %>
              PHOTO
              <%= fa_icon "camera-retro" %>
              APP
            <% end %>
          </div>
          <% if user_signed_in? %>
            <%= link_to "Log Out", "#", class: "btn btn-outline-danger my-2 my-sm-0 mx-1" %>
          <% else %>
            <%= link_to "Sign Up", "#", class: "btn btn-outline-primary my-2 my-sm-0 mx-1" %>
            <%= link_to "Log In", "#", class: "btn btn-outline-primary my-2 my-sm-0 mx-1" %>
          <% end %>
        </div>
      </nav>
    </div> <!-- col-md-8 offset-2 -->
    <hr class="m-0">
    <div class="col-md-8 offset-2 my-5" -->
      <%= yield %>
    </div> <!-- col-md-8 offset-2 -->
  </body>
</html>
